{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <h1>Upload Files</h1>
    <h5>"NOTE : Upload zipped folder in case of multiple files"</h5><br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

{% endblock %}


