{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <h1>Download Files</h1><br>


    <div class="row" style="margin-bottom: 30px">
        <h3>Download Processed</h3>
        <div class="col-sm">
            <br><br>
            <button class="btn" type="submit"><a href="/ds71/">DOWNLOAD</a></button>
        </div>
    </div>


    <div class="row" style="margin-bottom: 30px">
        <h3>Download Un-Processed</h3>
        <div class="col-sm">
            <br><br>
            <button class="btn" type="submit"><a href="/ds72/">DOWNLOAD</a></button>
        </div>
    </div>
</div>
{% endblock %}


